@font-face {
    font-family: "Font name" ;
    src: url(typo/fontFileName.woff2) format('woff2') ,
         url(typo/fontFileName.woff) format('woff') ;
    font-weight: normal ;
    font-style: normal ;
    }